<div class="text-center">
<br><br><br>
	This is the random code generator with JSON, API, AJAX.<br><br>
	<label value="code" id="lblCode">@ViewData["rndCode"]</label><br>
	<button class="btn btn-success"  id='btn' name='lblCode'>
		GENERATE CODE
	</button>
</div>